--- Django (Backend) ---

backend/venv/
backend/env/
backend/pycache/
backend/*.sqlite3
backend/media/
*.pyc
pycache/
.env
db.sqlite3
local_settings.py

--- React (Frontend) ---

frontend/node_modules/
frontend/build/
frontend/.env
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local
.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*

--- IDEs y Sistema Operativo ---

.vscode/
.idea/
Thumbs.db